
.nav-bottom {
    box-shadow: none;
  
    
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 13rem);
    background-color: rgb(243, 243, 243);

 
}
.cart {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 2rem;
    flex-grow: 1;
    overflow-y: hidden;
}

.cart__header {
    padding: 0.7rem;
    text-align: center;
    color: rgb(255, 72, 109);
}

.cart__title {
    margin: 0;
    line-height: 2em;
    font-size: 1.5em;
    font-weight: 600;
    color: grey;
    text-align: center;
}


.cart__list {
    flex-grow: 1;
    overflow-x: auto;
  
}

.cart-item {
    display: grid;
    grid-template-columns: 4rem 1fr 2em 1rem;
    gap: 0.5rem;
    padding: 1em 0;
    margin: 0.5rem 1rem;
    background-color: white;
    border-bottom: 1px solid rgb(211, 209, 209);
  

    
    
    
}
.cart-item__img {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid rgb(194, 194, 194);
}

.cart-item__name, .cart-item__count, .cart-item__price {
    margin: 0;
}

.cart-item__name {
    font-weight: 600;
}

.cart-item__price {
margin-top: 1rem;
}

.cart__footer {
    color: grey;
    padding: 0 1rem;
    width: 100%;
    background-color: white;
    box-shadow: 0px -4px 10px 1px rgba(0,0,0,0.2);
    clip-path: inset(-20px 0px 0px 0px);
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease-in-out;
    transform-origin: bottom;
    align-items: center;
    position: relative;
 
    z-index: 999;
    max-height: 3rem;



    
}

.cart-stats {
    align-self: stretch;
    margin-bottom: 1rem;
    

}

.cart-stats__number {
   float: right;
}

.cart-stats__number--bold {
    font-weight: 600;
}

.cart-item__countcontrols {
    align-self: center;
    float: rigth;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.7em;
}

.cart-item__count {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
}

.btn-comprar {
  width: 100%;
   
}

.btn-toggle-checkout {
    background: none;
    border: none;
    
}

.cart-footer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-weight: 600;
    font-size: 1em;
    margin: 1rem 0;
}

.icon-toggle-footer {
    font-size: 1.5em;
    color: grey;
}

.cart-header-carrito {
    display: none;
}


@media screen and (min-width: 768px) {

    body {
        padding-bottom: 0;
    }

    .main {
        height: calc(100vh - 4.5rem);
        
        
    }
    .cart {
        margin-top: 0;
        box-sizing: border-box;
        flex-direction: row;
        width: calc(100% - 2rem);
        max-width: 960px;
        margin: 0 auto;
        margin-bottom: 1rem;
      
        border-radius: 5px;
        box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.2);

    }

    .cart__header {
        max-width: 960px;
        margin: 0 auto;
    }

    .cart__title {
        text-align: left;
        width: 100%;
    }

    .cart__list {
        padding:0;
        padding-left: 1rem;
        background-color: white;
        
    }



    .cart__footer {
        max-width: 300px;
        max-height: none;
    }

    .cart-footer-header {
        color: grey;
        background-color: white;
        
        padding-top: 1rem;
        margin: 0;
       
    }

    .cart-item {
        margin: 0;
    }

    .cart-stats {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .cart-header-carrito {
        display: block;
        position:sticky;
        background-color: white;
        font-weight: 600;
        padding: 1rem 0;
        color: gray;
        top: 0;
    }

    .btn-toggle-checkout {
        display: none;
      
    }
}