html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.signin {
  width: 100%;
  max-width: 300px;
  margin: auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.firebaseui-card-content {
  padding: 0;
}

.firebaseui-idp-button {
  width: auto;
  max-width: unset;
}

.signin-title {
  text-align: center;
  font-weight: 700;
  color: crimson;
  margin-bottom: 0.5em;
}

.btn-primary {
  background-color: crimson;
  transition: transform 0.2s ease-in-out;
  border: none;
}

.btn-primary:hover {
  transform: scale(1.05);
  background-color: crimson;
  box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.2);
}

.login-error {
  color: tomato;
  margin-top: 1rem;
  position: absolute;
  bottom: 0;
}

.form-login {
  display: flex;
  flex-direction: column;
}

.btn-login {
  margin-left: auto;
  margin-right: 0;
  align-self: center;
}

.main-no-user__footer {
  width: 100%;
  text-align: center;
}

.with-error{
  margin-bottom: 0;
}

.google-signin {
  text-align: center;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 60%;               
  background-color:rgb(206, 206, 206);
  height: 1px;
}

#spinner-wrapper {
  display: block;
  z-index: 3;
  background-color: rgb(255, 255, 255);
}

.lds-ring {
  transform: translate(-50%, -50%);
}

.lds-ring div {
  border: 6px solid grey;
  border-color: grey transparent transparent transparent;
}

.lds-ring::after {
  content: 'Cargando';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -1em;
}