h1 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.product-name {
    font-size: 1.2rem;
    font-weight: normal;
}

.radio-group {
    display: flex;
    align-items: center;
    align-content: center;
}

.radio-group label {
    padding-left: 0.5em;
    display: block;
    margin: 0;
}