body {
  padding-bottom: 5rem;
}
.jumbotron, .card-body, .container, .site-header{
    font-family: 'Raleway', serif !important;
}


.jumbotron .display-4{
    font-weight: bold;
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;

  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
    
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead{
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.light-text {
  color: white;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone{
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.alert{
  position: fixed;
  top:80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top:50%;
  left: 50%;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#spinner-wrapper{
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  width:100%;
  height: 100%;
  top:0;
  left:0;
  z-index: 1021;
  display: none;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

a.logo {
  font-size: 1.2rem;
  font-weight: 700;
 
  color: rgb(255, 72, 109) ;
}

/* Opciones de usuario en la barra de navegacion */


.nav-item {
  margin: 0 1rem;
}

a.nav-item {
  color: grey;
  font-weight: 600;
  text-decoration: none;
}



.nav-item:hover {
  cursor: pointer;
  color: rgb(255, 72, 109) ;
}

button.nav-item:hover, button.nav-item:active {
  cursor: pointer;
  background-color: transparent ;
  border-color: rgb(255, 72, 109) ;
}

.dropdown-item > i {
  width: 20px;
  margin-right: 1rem;
  color: rgb(255, 72, 109);
}






.grid-items-list-title {
  margin: 4rem;
}

.grid-items-list-title i{
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 4rem;
  color: crimson;
  opacity: 0.6;
  margin-bottom: 1.5rem;
}

.grid-items-list-title h1{
  margin: 0 auto;
  text-align: center;
  font-size: 1.2rem;
  opacity: 0.7;
}



.productos-container {
    
   
  display: grid;
  gap: 1.5em;
  box-sizing: border-box;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.producto {
  display: flex;

  flex-direction: column;
  border-radius: 8px;
  color: #505050;
  box-shadow: 3px 6px 11px -4px rgba(0,0,0,0.75);

}

.producto header {
  overflow: hidden;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.producto:hover {
  cursor: pointer;
}

.producto:hover img {

  transform: scale(1.02);
}

img {
  width: 100%;
  transition: transform 0.3s ease-in;
}

.product-price {
  font-family: 'Arial';
  font-size: 1.4rem;
  font-weight: 600;
}

.product-name {
  font-size: 1.2rem;
  font-weight: normal;
}

.product-description {
  
  font-size: 0.9rem;
  font-weight: normal;
}


.product-body {
  padding: 1em;
  padding-bottom: 0;
  flex-grow: 1;
}

.vendidos {
  text-align: center;
  margin: 0;
  line-height: 2.5rem ; 
}

hr {
  margin-bottom: 0;
}



.nav-bottom {
  position: fixed;
  display: grid;
  z-index: 999;
  grid-template-columns: repeat(3, 1fr);
  bottom: 0;
  width: 100%;


  background-color: rgb(255, 72, 109);
}

.nav-bottom > a {
  display: block;
  flex-grow: 1;
  padding-top: 0.5rem;
  height: 100%;
  text-align: center;
  color: white;
}

.nav-bottom > a:hover {
  background-color: crimson;
}




